<style>
  .btn-search {
    background-color: red;
    color: white;
    border-radius: 25px;
    padding: 0 1rem;
    display: flex;
    align-items: center; /* Aligns icon and text properly */
    gap: 0.5rem; /* Adds space between icon and text */
    border: none;
  }

  .btn-search:hover {
    background-color: darkred;
    color: white;
  }

  .btn-search i {
    display: inline-block; /* Ensures the icon stays inline */
    margin: 0;
    font-size: 1rem; /* Adjusts icon size */
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid fa-compass-drafting"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" action="/listings/search" method="GET">
          <input
            class="form-control me-2 search-inp"
            type="search"
            name="query"
            placeholder="Search by Title, Location, or Country"
            required
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass-location"></i> Search
          </button>
        </form>        
        
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add new Listing</a>
        <% if(!currUser){ %>
        <a class="nav-link" href="/Signup"><b>Signup</b></a>
        <a class="nav-link" href="/Login"><b>Login</b></a>
        <% } %> <% if(currUser){ %>
        <a class="nav-link" href="/Logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
