<% layout("/layouts/boilerplate")%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br /><br />
      <h3>Create a New Listing</h3>
      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-lable">Title: </label>
          <input
            name="listing[title]"
            placeholder="enter title"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-lable">Description: </label>
          <textarea
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <!-- <div class="mb-3">
          <label for="image" class="form-lable">Image URL: </label>
          <input
            name="listing[image]"
            placeholder="enter image URL/Link"
            type="text"
            class="form-control"
          />
        </div> -->
        <div class="mb-3">
          <label for="image" class="form-lable">Upload Listing Image: </label>
          <input
            name="listing[image]"
            type="file"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="price" class="form-lable">Price: </label>
            <input
              name="listing[price]"
              placeholder="enter price"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">enter valid price</div>
          </div>
          <div class="mb-3 col-md-6">
            <label for="country" class="form-lable">Country: </label>
            <input
              name="listing[country]"
              placeholder="enter country"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">enter valid Country</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-lable">Location: </label>
          <input
            name="listing[location]"
            placeholder="enter location"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">enter valid Location</div>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category:</label>
          <select name="listing[category]" class="form-control" required>
            <option value="" disabled selected>Select a category</option>
            <!-- <option value="Trending">Trending</option> -->
            <option value="Rooms">Rooms</option>
            <option value="Iconic Cities">Iconic Cities</option>
            <option value="Mountains">Mountains</option>
            <option value="Castle">Castle</option>
            <option value="Amazing Pools">Amazing Pools</option>
            <option value="Camping">Camping</option>
            <option value="Farms">Farms</option>
            <option value="Arctic">Arctic</option>
          </select>
          <div class="invalid-feedback">Please select a category</div>
        </div>
        <button class="btn btn-dark btn-red">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
